// COLORS
$color-primary: #007bff;//#0d6efd;
$color-primary-light: #66a9ff;//#3b97ff;
$color-primary-dark: #0048b3;//#084db3;

$color-secondary: #ff6c00;
$color-secondary-light: #ff9c40;
$color-secondary-dark: #b34700;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-light-3: #ccc;

$color-grey-dark-1: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #f8f8f8; //#fff;
$color-black: #0a0a0a; //#000;

// FONT
$default-font-size: 1.8rem;

//  PADDING
$padding-horizontal: 2rem;
$padding-vertical: 1rem;
$padding-vertical-xl: 12rem;

// COMPONENTS
$animated-container-duration: 1s;