.animated-container {
    @include respond(tab-land-and-higher) {
        transition: all $animated-container-duration;

        &--fade-in {
            opacity: 0;

            &.bottom-reached {
                opacity: 1;
            }
        }

        &--slide-right {

            &.bottom-reached {
                animation: moveInLeft $animated-container-duration ease-out;
                // animation-fill-mode: backwards;
            }
        }

        &--slide-left {

            &.bottom-reached {
                animation: moveInRight $animated-container-duration ease-out;
                // animation-fill-mode: backwards;
            }
        }

        &--rotated {

            &.bottom-reached {
                animation: rotateY ($animated-container-duration * .75) linear;
            }
        }
    }
}